<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>CADASTRO DE FUNCIONÁRIOS</title>
    <style>
        ul li {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-end p-4">
            <ul class="m-0 d-flex gap-2">
                <li><a href="{% url 'funcionarios:home_administrador' %}" class="btn btn-outline-danger">Voltar</a></li>
            </ul>
        </nav>
    </header>

    <!-- Mensagens Flash do Django -->
    {% if messages %}
        {% for message in messages %}
            <div class="position-fixed top-0 start-50 translate-middle-x mt-4" role="alert" style="z-index: 1;">
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show p-2">
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <div class="container" style="position: relative; top: 90px;">
            <div class="row justify-content-center">
                <div class="col-4" >
                    <form action="{% url 'funcionarios:cadastrar_funcionario' %}" method="POST">
                        {% csrf_token %}
                        
                        <label class="form-label fw-semibold">Nome Completo:</label>
                        {{ form.nome }}

                        <label class="form-label fw-semibold">CPF:</label>
                        {{ form.cpf }}

                        <label class="form-label fw-semibold">Cargo:</label>
                        {{ form.cargo }}

                        <label class="form-label fw-semibold">Turno:</label>
                        {{ form.turno }}
                        
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary" type="submit">Cadastrar Funcionário</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.cpf').mask('000.000.000-00', {reverse: true});

            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 5000);
        });
    </script>
</body>
</html>