<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>HOME ADMINISTRADOR</title>
    <style>
        ul li {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between p-4">
            <h2 style="text-transform: uppercase; margin: 0;">BEM VINDO(A), {{ nome_funcionario.split.0 }}</h2>
            <ul class="m-0 d-flex gap-2">
                <li><a href="{% url 'cadastro_funcionarios' %}" class="btn">Cadastrar Funcionário</a></li>
                <li><a href="{% url 'logout' %}" class="btn btn-outline-danger">Sair</a></li>
            </ul>
        </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="position-fixed top-0 start-50 translate-middle-x mt-4" role="alert" style="z-index: 1;">
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show p-2">
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <div class="container p-4" style="position: relative; top: 80px;">
            <h4>FUNCIONÁRIOS:</h4>
            <div class="row gap-2" style="position: relative; top: 20px; height: 60vh; overflow-y: auto;">
                {% if lista_funcionarios %}
                    {% for funcionario in lista_funcionarios %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card p-2">
                                <ul class="mb-2 p-0">
                                    <form action="{% url 'editar_funcionario' funcionario.id %}" method="POST">
                                        {% csrf_token %}
                                        <li>
                                            <label class="form-label fw-semibold">Funcionario:</label>
                                            <input type="text" class="form-control" value="{{ funcionario.nome }}" name="nome" placeholder="Nome completo">
                                        </li>

                                        <li>
                                            <label class="form-label fw-semibold">CPF:</label>
                                            <input type="text" class="cpf form-control" value="{{ funcionario.cpf }}" name="cpf">
                                        </li>

                                        <li>
                                            <label class="form-label fw-semibold">Cargo:</label>
                                            <select name="cargo" id="cargo" class="form-select">
                                                <option {% if funcionario.cargo == "instrutor" %}selected{% endif %} value="instrutor">Instrutor(a)</option>
                                                <option {% if funcionario.cargo == "recepcionista" %}selected{% endif %} value="recepcionista">Recepcionista</option>
                                            </select>
                                        </li>

                                        <li>
                                            <label class="form-label fw-semibold">Turno:</label>
                                            <select name="turno" class="form-select">
                                                <option value="matutino" {% if funcionario.turno == "matutino" %}selected{% endif %}>Matutino</option>
                                                <option value="vespertino" {% if funcionario.turno == "vespertino" %}selected{% endif %}>Vespertino</option>
                                            </select>
                                        </li>

                                        <div class="mt-4">
                                            <button type="submit" class="btn btn-primary" style="width: 100%;">Editar Funcionário</button>
                                        </div>
                                    </form>
                                </ul>

                                <div class="d-flex flex-column">
                                    <form action="{% url 'deletar_funcionario' funcionario.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" style="width: 100%;" onclick="return confirm('Tem certeza que deseja deletar este funcionário?')">Deletar Funcionário</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>VOCÊ AINDA NÃO POSSUI FUNCIONÁRIOS</p>
                {% endif %}
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('.cpf').mask('000.000.000-00', {reverse: true});

            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 5000);
        });
    </script>
</body>
</html>